body {
    font-family: sans-serif;
    margin-top: 40px;
}

h1 {
    text-align: center;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
    margin-left: 60px;
    margin-right: 60px;
}
.body {
    font-family: sans-serif;
    margin-left: 60px;
    margin-right: 60px;
}

.hr {
    background-color: #9e0000;
}

